body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-size: cover; 
}

.container {
  display: flex;
  justify-content: left;
  align-items: flex-start; 
  min-height: 100vh;
  margin: 0;
}
.login-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h2 {
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 10px;
}

.forgot-label a {
  text-decoration: none;
  color: #3498db;
}

.alternative {
  text-align: center;
  margin-top: 15px;
}

.alternative span {
  color: #3498db;
  cursor: pointer;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}



