<div class="about-section">
  <h1>About Us</h1>
  <p>
    Our team consists of four talented individuals who work together to bring
    innovative solutions to life.
  </p>
  <p>
    On the frontend side, we have Sham and Drilon, who are passionate about
    creating intuitive and visually appealing user interfaces.
  </p>
  <p>
    On the backend, we have Sarper and Shubham, who excel at building robust and
    efficient server-side applications.
  </p>
</div>

<section class="page-content">
  <div class="cardAbout">
    <div class="content">
      <h2 class="title">Drilon</h2>
      <p class="copy">Frontend Developer at BAHAG since October 16th 🚀</p>
    </div>
  </div>

  <div class="cardAbout">
    <div class="content">
      <h2 class="title">Sarper</h2>
      <p class="copy">Backend Developer at BAHAG since October 16th 🚀</p>
    </div>
  </div>

  <div class="cardAbout">
    <div class="content">
      <h2 class="title">Shubham</h2>
      <p class="copy">Backend Developer at BAHAG since October 16th 🚀</p>
    </div>
  </div>

  <div class="cardAbout">
    <div class="content">
      <h2 class="title">Sham</h2>
      <p class="copy">Frontend Developer at BAHAG since October 2nd 🚀</p>
    </div>
  </div>
</section>
