

#myForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}


/* Style the form title */
.modal-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #525252;
  padding: 10px;
  align-items: center;
}

.modal-header{
display: flex;
justify-content: space-between;
}

.photo{
  width: 40px; /* Adjust the size of the image as needed */
  height: 40px; /* Adjust the size of the image as needed */
  border-radius: 0;
  display: inline-block;


}

/* Style labels and inputs */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333; /* Text color */
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

/* Style the submit button */
.modal-footer button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.alert.alert-danger {
  color: #FF6B6B;
  background-color: transparent;
  border: none; /* Remove border */
  border-radius: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 10px; /* Adjust margin for spacing */
  font-size: 1rem;
}

.custom-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  font-size: 1rem;
}


.secondary-button {
  background-color: #ccc;
  color: #333;
}

.secondary-button:hover {
  background-color: #ddd;
}

/* Style the primary button */
.primary-button {
  background-color: #0074E4;
  color: #fff;
}

.primary-button:hover {
  background-color: #005bb7;
}

/* Style for icon placement in input fields */
.input-group .input-group-text {
  background-color: #0074E4;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1rem;
}
.modal-content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.red-heart {
  color: red;
}

.white-heart {
  color: white;
}

.red{
  background-color: #EE2026;
  color: white;
}

.grey{
  background-color: #525252; 
}



