.event-container {
    display: flex;
    align-items: center;
}

.event-image-container {
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
}

.event-image {
    max-height: 100%; /* Take up the full height of the image container */
    max-width: 100%; /* Maintain aspect ratio */
    width: 60%;
    height: 60%;
    display: block;
}

.event-details {
    padding: 0 20px;
}
