<!-- FILEPATH: /Users/jasharid/re-client/src/app/events/events-list.component.html -->
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-3 " *ngFor="let event of events">
    <div class="card mb-4" style="width: 18rem;">
      <img class="card-img-top" src="./assets/sarper.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ event.title }}</h5>
        <p class="card-text">{{ event.description }}</p>
        <a href="#" class="btn btn-primary disabled">Details</a>
      </div>
    </div>
  </div>
  </div>
</div> -->

<!-- <ul>
  <li *ngFor="let event of events">
    <div>
      <h3>{{ event.title }}</h3>
      <p>{{ event.description }}</p>
      <p>{{ event.location }}</p>
    </div>
  </li>
</ul> -->
<div class="container mx-4 my-4">
  <div class="row">
    <div class="col-md-3" *ngFor="let event of events; let i = index">
      <div class="card mb-4" [ngClass]="{ selected: event.selected }">
        <img class="card-img-top text-center" src="./assets/example-poster.jpg" alt="{{ event.title }}">
        <div class="card-body d-flex flex-column" style="flex-grow: 1;">
          <h5 class="card-title">{{ event.title }}</h5>
          <div class="text-truncate-container mb-2">
            <p class="card-text description">{{ event.description }}</p>
          </div>
          <div class="text-truncate-container">
            <p class="card-text location">{{ event.location }}</p>
          </div>
          <div class="text-truncate-container">
            <p class="card-text date-time">07.NOV.2023 17:30 CET</p>
          </div>
          <button class="btn btn-primary" (click)="showDetails(event)">
            More Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- (click)="toggleSelected(event)" -->
