<p>map-view works!</p>
<div class="container-fluid d-flex justify-content-center">
    <div class="col-md-*">
        <google-map height="500px" width="1000px" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)" (mapMousemove)="move($event)"  [options]="mapOptions">
            <map-marker #marker="mapMarker" *ngFor="let position of markerPositions" [position]="position" [options]="markerOptions" (mapClick)="openInfoWindow(marker)"></map-marker>
            <map-info-window>Info Content Here</map-info-window>
        </google-map>
        <div>
            Latitude: {{display?.lat}}
        </div>
        <div>
            Longitude: {{display?.lng}}
        </div>
    </div>
</div>
