body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  
 
   
  }
  
  .register-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
   
    
  }
  
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .form-content {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .alternative {
    text-align: center;
    margin-top: 15px;
  }
  
  .alternative span {
    color: #3498db;
    cursor: pointer;
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  

  