@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

body,
html {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.bg {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8f/Bauhaus_Zentrale_Mannheim.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  position: relative;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #696969;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  height: 40px;
  overflow-y: auto;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border 0.3s;
  border-color: #ccc;
}

input:focus {
  border-color: #ff6f6f;
}

.alternative {
  text-align: center;
  margin-top: 15px;
}

.alternative span {
  color: #ee2026;
  cursor: pointer;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #ee2026;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.error-message {
  color: #ff6f6f;
  margin-top: 5px;
}
