
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('../../../assets/bauhaus.png');
    background-size: 30% auto; /* Adjust the size of the background image */
    background-position: right; /* Position the background image on the right side */
    background-repeat: no-repeat;
  }
  
  .register-container {
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .form-content {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .alternative {
    text-align: center;
    margin-top: 15px;
  }
  
  .alternative span {
    color: #3498db;
    cursor: pointer;
  }
  
  .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  

  