<!-- SARPER WAY -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <a class="navbar-brand mx-4" href="#">Event Listings</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active mr-3" routerLink="/about">About</a>
      <a class="nav-item nav-link" routerLink="/profile">Profile</a>
      <a class="nav-item nav-link" routerLink="/map-view">Map View</a>
      <button class="btn" (click)="logout()">Logout</button>
      
    </div>
  </div>

  <button
    class="btn btn-secondary mx-2"
    type="button"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Add event
  </button>
</nav> -->

<!-- DRILONS WAY -->
<nav class="navbar" *ngIf="showNavbar">
  <div class="brand-title"><a href="/events" style="text-decoration: none; color: inherit;">Bauhaus Insider</a></div>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li><a href="/events">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a class="nav-item nav-link" routerLink="/map-view">Map View</a></li>
      <li class="login-button" *ngIf="!isLoggedIn"><a class="nav-item nav-link" routerLink="/login">Login</a></li>
      <li class="logout-button" *ngIf="isLoggedIn"><a class="nav-item nav-link" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>

<app-add-form></app-add-form>
<router-outlet></router-outlet>
