<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="profile-card text-center">
        <img src="./assets/blank-profile.webp" alt="Profile Picture" class="img-fluid profile-picture rounded-circle">
        <h2>{{user.full_name}}</h2>
        <p>Senior Software Engineer</p>
        <p>{{user.email}}</p>
      </div>
    </div>
    <div class="col-md-8">
      <!--<div class="events-scroll">
        <h3>Events Joined</h3>
        <div class="events-list">
          <div class="event">
            <img src="./assets/example-poster.jpg" alt="Event 1" class="img-fluid event-image">
            <h4>Event 1</h4>
            <p>Date: June 15, 2023</p>
          </div>
          <div class="event">
            <img src="./assets/example-poster.jpg" alt="Event 1" class="img-fluid event-image">
            <h4>Event 2</h4>
            <p>Date: July 3, 2023</p>
          </div>
          <div class="event">
            <img src="./assets/example-poster.jpg" alt="Event 1" class="img-fluid event-image">
            <h4>Event 3</h4>
            <p>Date: August 10, 2023</p>
          </div>
          <div class="event">
            <img src="./assets/example-poster.jpg" alt="Event 1" class="img-fluid event-image">
            <h4>Event 4</h4>
            <p>Date: September 5, 2023</p>
          </div>
          <div class="event">
            <img src="./assets/example-poster.jpg" alt="Event 1" class="img-fluid event-image">
            <h4>Event 5</h4>
            <p>Date: October 20, 2023</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
